openapi: 3.0.0
info:
  version: '1.0'
  title: Learner data inner API
paths:
  /info:
    get:
      description: information regarding this API. The version will be returned
      responses:
        '200':
          $ref: '#/components/responses/infoResponse'
    
  /liveness:
    get:
      description: The system is responsive and accepting incoming requests; however, this endpoint does not perform a dependency check, so the system may not be fully ready to process requests correctly.
      responses:
        '200':
          $ref: '#/components/responses/okResponse'
  /readiness:
    get:
      description: The system is fully ready to accept requests and all the dependencies are healthy
      responses:
        '200':
          $ref: '#/components/responses/healthCheckResponse'
        '503':
          $ref: '#/components/responses/healthCheckResponse'

  /providers/{ukprn}/learners/{uln}:
    put:
      summary: Endpoint for updating specific learners. The individual key is combined by ukprn and uln
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner
          schema:
            type: string
        - name: uln
          in: path
          required: true
          description: The Unique Learner Number for this learner
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/createUpdateResponse'
        '404':
          $ref: '#/components/responses/notFound'
    post:
      summary: Endpoint for creating an ILR record
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner
          schema:
            type: string
        - name: uln
          in: path
          required: true
          description: The Unique Learner Number for this learner
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/learnerRequest'
      responses:
        '201':
          $ref: '#/components/responses/createUpdateResponse'
        '400':
          $ref: '#/components/responses/badRequest'
    get:
      summary: Returns the unique learner for this provider
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner
          schema:
            type: string
        - name: uln
          in: path
          required: true
          description: The Unique Learner Number for this learner
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/learnerResponse'  
        '404':
          $ref: '#/components/responses/notFound'
  /providers/{ukprn}/academicyears/{academicyear}/learners:
    get:
      summary: Returns a paged list of learners for this provider for the academic year
      parameters:
        - name: ukprn
          in: path
          required: true
          description: The UK Provider Reference Number for the provider entering this learner
          schema:
            type: string
        - name: academicyear
          in: path
          required: true
          example: 2425
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/pagedLearnersResponse'  
components:  
  headers:
    location:
      schema:
        type: string
        format: url
        example: /providers/234324/leaners/24321432

  requestBodies:
    learnerRequest:
      description: The ilr record to be submitted to AS
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/learner'

  responses:
    pagedLearnersResponse:
      description: A paged learners response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/pagedLearners'

    createUpdateResponse:
      description: The update
      headers:
        Location:
          $ref: '#/components/headers/location'

    learnerResponse:
      description: A single response to a specific learner
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/learner'

    notFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'

    okResponse:
      description: OK
      content:
        text/plain:
          schema:
            type: string
            example: OK

    badRequest:
      description: A bad request was detected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    
    healthCheckResponse:
      description: Results of a health check
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/healthcheckResults'

    infoResponse:
      description: Information response
      content:
        text/plain:
          schema:
            type: string
            example: Leaner data APIM for the apprenticeship service - Version 3.0.2

  schemas:
    error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    
    pagedLearners:
      type: object
      properties:
        learners:
          type: array
          items:
              $ref: '#/components/schemas/learner'
        total:
          type: integer
          minimum: 0
        page: 
          type: integer
          minimum: 1
        pageSize: 
          type: integer
          minimum: 1
          maximum: 20
        totalPages: 
          type: integer
          minimum: 1
      required:
        - page
        - total
        - pageSize  
        - totalPages  
    
    healthcheckResults:
      type: array
      items:
        $ref: '#/components/schemas/healthcheck' 
  
    healthcheck:
      type: object
      properties:
        description: 
          type: string
        result: 
          type: string    
    
    learner:
      type: object
      properties:
        uln:
          type: integer
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        learnerEmail:
          type: string
        priorLearningPercent:
          description: This is the percentage of learning already complete before this course starts
          type: integer
          example: 10
        ukprn:
          type: integer
        agreementId:
          type: integer
        trainingPrice:
          type: integer
          description: This is the earliest price
        epaoPrice:
          type: integer
          description: This is the earliest price
        standardCode:
          type: integer
        startDate:
          type: string
          format: date
        plannedEndDate:
          type: string
          format: date
      required:
        - uln,
        - firstName
        - lastName
        - dateOfBirth
        - learnerEmail
        - ukprn
        - priorLearningPercent
        - standardCode
        - trainingPrice
        - epaoPrice
        - startDate
        - plannedEndDate
        - agreementId